/* Variables */
:root {
}

/* Styles */

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

.header {
  text-align: center;
  font-size: 250%;
  display: inline;
  justify-content: space-around;
}

.searchbar {
  margin-top: 5%;
  text-align: center;
}

/* Mobile Styling */

@media all and (max-width: 450px) {
}
